
body {
	margin: 0;
	font-family: Arial;
	background-color: #363636;
}

.header {
	padding: 10px 16px;
	background: #1C1C1C;
	color: #f1f1f1;
}

.content {
	padding: 16px;
}

.box {
	float: left;
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
	padding-top: 16px;
	padding-bottom: 16px;
	box-sizing: border-box;
	text-align: center;
}

.box:last-child {
	margin-right: 0;
}

table{
	border-collapse: seperate;
	border-spacing: 0px;
	border-style:solid;
	border-width: thin;

	/* float: left; */
	position: relative;
	/* left: 1%; */

	margin-left: auto;
  margin-right: auto;
  width: auto;
}

.squareSmall{
	background: rgb(0,0,0);
	border-style: solid;
	border-width: thin;
	height: 1em;
	width: 1em;
}

.squareBig{
	border-style: solid;
	border-width: thin;
	height: 5em;
	width: 5em;
}

.quaderVertical{
	border-style: solid;
	border-width: thin;
	height: 5em;
	width: 1em;
	margin: 0px;
	background-color: #bbbbbb;


}

.quaderHorizontal{
	border-style: solid;
	border-width: thin;
	height: 1em;
	width: 5em;
	background-color: #bbbbbb;
}

.p1 {
	background: #DC6454;
}

.p2 {
	background: #5DBFE4;
}

.p3 {
	background: #99DD54;
}

.p4 {
	background: #EF9549;
}

.p5 {
	background: #7989C4;
}

.p6 {
	background: #FFC73C;
}

h1{
	color: rgb(255,255,255);
	text-align: center;
}
.topbar{
	width: 100%;
}

.kk-view button {
	left: -100vw;
	position: absolute;
}

.playerContainer {
	width: 100%;
}

.player {
	font-size: 1.5em;
	color : rgb(0,0,0);
}

.active {
	box-shadow: 0px 0px 5px 5px #ffffff;
}

.invisible{
	display: none;
}

.backButton {
	text-decoration: none;
	position: absolute;
	top: 1em;
	left: 1em;
	color: white;
}

.title{
	padding: 0;
	margin: 0;
}

.author{
	top: 0;
	text-align: center;
	margin: 0;
}

.author a{
	text-decoration: none;
	color: white;
}
