* {
  text-align: center;
  vertical-align: middle;
  font-family:Arial;
}

html{
  color: white;
  background-color: rgb(67, 67, 67);
}

label{
  font-size: 22px;
}

input{
  font-size: 18px;
}

input{
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

button{
  padding: 5px;
}

input[type=text],input[type=number] {
  width: 10%;
  min-width: 60px;
  background-color: rgb(40,40,40);
  color: rgb(255,255,255);
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
