body {
	margin: 0;
	font-family: Arial;
}

.header {
	padding: 10px 16px;
	background: #555;
	color: #f1f1f1;
}

.content {
	padding: 16px;
}

.box {
	float: left;
	width: 15%;
	margin-right: 2%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}

.box:last-child {
	margin-right: 0;
}

table{
	border-collapse: seperate;
	border-spacing: 0px;
	border-style:solid;
	border-width: thin;

	/* float: left; */
	position: relative;
	/* left: 1%; */

	margin-left: auto;
  margin-right: auto;
  width: auto;
}

.squareSmall{
	background: rgb(0,0,0);
	border-style: solid;
	border-width: thin;
	height: 1em;
	width: 1em;
}

.squareBig{
	border-style: solid;
	border-width: thin;
	height: 5em;
	width: 5em;
}

.quaderVertical{
	border-style: solid;
	border-width: thin;
	height: 5em;
	width: 1em;
	margin: 0px;


}

.quaderHorizontal{
	border-style: solid;
	border-width: thin;
	height: 1em;
	width: 5em;
}

.p1 {
	background: rgb(255, 0, 0);
}

.p2 {
	background: rgb(0, 0,255);
}

.p3 {
	background: rgb(0, 255, 0);
}

.p4 {
	background: rgb(0, 255, 255);
}

.p5 {
	background: rgb(255, 0, 255);
}

.p6 {
	background: rgb(255, 255, 0);
}

h1{
	color: rgb(255,255,255);
	text-align: center;
}
.topbar{
	width: 100%;
}

.tic-tac-toe button {
	left: -100vw;
	position: absolute;
}

.playerContainer {
	width: 100%;
}

.player {
	font-size: 1.5em;
	color : rgb(0,0,0);
}
